@import "tailwindcss";

:root {
  font-family: "MerchantCopy", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: linear-gradient(180deg, #6C7BC2 0%, #141E4D 100%);
  background-image: url('./assets/store-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "MerchantCopy";
  src: local("MerchantCopy"), url("./assets/fonts/Merchant Copy.ttf");
}

.card-shadow {
  box-shadow: 0px 14px 5.8px -2px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #e0e0e0;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #c7c7c7;
}
::-webkit-scrollbar-corner {
  background: transparent;
}